{
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": ["prettier", "jsx-a11y"],
  "extends": ["eslint:recommended", "airbnb", "prettier", "prettier/react", "plugin:jsx-a11y/recommended"],
  "rules": {
    "prettier/prettier": "error",
    "linebreak-style": "off",
    "react/forbid-prop-types": [1, { "forbid": ["any"] }],
    "prefer-promise-reject-errors": "off"
  }
}
